<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>EDMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddAskHelp</display-name>
    <servlet-name>AddAskHelp</servlet-name>
    <servlet-class>JavaFiles.AddAskHelp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAskHelp</servlet-name>
    <url-pattern>/AddAskHelp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContribution</display-name>
    <servlet-name>AddContribution</servlet-name>
    <servlet-class>JavaFiles.AddContribution</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContribution</servlet-name>
    <url-pattern>/AddContribution</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLocation</display-name>
    <servlet-name>AddLocation</servlet-name>
    <servlet-class>JavaFiles.AddLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLocation</servlet-name>
    <url-pattern>/AddLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPost</display-name>
    <servlet-name>AddPost</servlet-name>
    <servlet-class>JavaFiles.AddPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPost</servlet-name>
    <url-pattern>/AddPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>JavaFiles.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>JavaFiles.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataServlet</display-name>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>JavaFiles.DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/DataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MachineLearning</display-name>
    <servlet-name>MachineLearning</servlet-name>
    <servlet-class>JavaFiles.MachineLearning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MachineLearning</servlet-name>
    <url-pattern>/MachineLearning</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>JavaFiles.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
</web-app>